
@import url("https://fonts.googleapis.com/css2?family=Bangers&family=Science+Gothic:wght@100..900&display=swap');


*{
     font-family: "Bangers", system-ui;
  font-weight: 400;
  font-style: normal;
  box-sizing:borderbox; padding 0; margin 0;

}

body{ display:flex;
     justify-content: center; align-items: center;
min-height: 1oovh;
     background: seagreen;
     
}
.wrapper {
width: 420px; background: purple; color: #fff;
  
}
